html,body{
  overflow: hide;
  padding: 0px;
  margin: 0px;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }

  /* 去掉地图点击蓝色边框 */
  .esri-view .esri-view-surface--inset-outline:focus::after {
    outline: auto 0px Highlight !important;
    outline: auto 0px -webkit-focus-ring-color !important;
  }